* {
    margin: 0;
}

.navbtn {
    text-decoration: none;
    color: black;
    padding-inline: 10px;
}













header {
    display: flex;
    justify-content: space-between;
    padding-block: 30px;
    align-items: center;
    padding-inline: 30px;
    margin: auto;
    margin-bottom: 50px;
}