* {
    margin: 0;
}

#hero {
    display: flex;
    align-items: center;
    min-height: 600px;
    text-align: center;
    background-image: url(fondhero.png);

    h1 {
        font-size: 60px;
        color: transparent;
        background-image: linear-gradient(0deg, #f56900, #febe00);
        background-clip: text;
    }

    h2 {
        padding-block: 30px;
        color: #febe00;
    }

    div {
        display: flex;
        max-width: 600px;
        margin: auto;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
}

#why {
    display: flex;
    align-items: center;
    min-height: 400px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(28 47 52);

    h2 {
        padding-block: 30px;
        color: #fe9500;
    }
}

#salles {
    display: flex;
    align-items: center;
    min-height: 600px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(28 47 52);

    h2 {
        padding-block: 50px;
        color: #fe9500;
    }
}

#retour {
    display: flex;
    align-items: center;
    min-height: 600px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(28 47 52);

    h2 {
        padding-block: 50px;
        color: #fe9500;
    }

    p {
        padding-top: 10px;
    }

    h4 {
        padding-top: 10px;
        color: #f56900;
    }

}


.cardContainer {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    margin-inline: 25px;
    justify-content: space-between;
    flex-direction: column;
    max-width: 250px;
    border-style: solid;
    border-radius: 5px;
    border-color: #fe9500;
    overflow: hidden;

    p {
        color: #aaad8f;
    }

    h3 {
        padding-block: 10px;
        color: #febe00;
    }
}

.navbtn {
    text-decoration: none;
    color: #aaad8f;
    padding-inline: 10px;
}

.navbtn:hover {
    color: #febe00;
}

.btnaction {
    padding: 15px;
    background-color: rgb(28 47 52);
    border-style: solid;
    border-radius: 5px;
    border-color: #fe9500;
    color: white;
}

.btnaction:hover {
    background: linear-gradient(0deg, #f56900, #febe00);
    color: rgb(28 47 52);
}

.service_container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: rgb(28 47 52);
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    margin: auto;

    img {
        height: 100px;
        width: 100px;
    }
}

footer {
    #sponsor {
        display: flex;
    }
}